In [1]:
import matplotlib.pyplot as plt  #画图库
%matplotlib inline
import numpy as np
import pandas as pd
from sklearn import datasets, linear_model

In [3]:
data = pd.read_csv(' Folds5x2_pp.csv')  #导入数据

In [4]:
data  #遍历数据

         AT      V       AP     RH      PE
0     14.96  41.76  1024.07  73.17  463.26
1     25.18  62.96  1020.04  59.08  444.37
2      5.11  39.40  1012.16  92.14  488.56
3     20.86  57.32  1010.24  76.64  446.48
4     10.82  37.50  1009.23  96.62  473.90
5     26.27  59.44  1012.23  58.77  443.67
6     15.89  43.96  1014.02  75.24  467.35
7      9.48  44.71  1019.12  66.43  478.42
8     14.64  45.00  1021.78  41.25  475.98
9     11.74  43.56  1015.14  70.72  477.50
10    17.99  43.72  1008.64  75.04  453.02
11    20.14  46.93  1014.66  64.22  453.99
12    24.34  73.50  1011.31  84.15  440.29
13    25.71  58.59  1012.77  61.83  451.28
14    26.19  69.34  1009.48  87.59  433.99
15    21.42  43.79  1015.76  43.08  462.19
16    18.21  45.00  1022.86  48.84  467.54
17    11.04  41.74  1022.60  77.51  477.20
18    14.45  52.75  1023.97  63.59  459.85
19    13.97  38.47  1015.15  55.28  464.30
20    17.76  42.42  1009.09  66.26  468.27
21     5.41  40.07  1019.16  64.77  495.24
22     7.76  42.28  1008.52  83.31  483.80
23    27.23  63.90  1014.30  47.19  443.61
24    27.36  48.60  1003.18  54.93  436.06
25    27.47  70.72  1009.97  74.62  443.25
26    14.60  39.31  1011.11  72.52  464.16
27     7.91  39.96  1023.57  88.44  475.52
28     5.81  35.79  1012.14  92.28  484.41
29    30.53  65.18  1012.69  41.85  437.89
...     ...    ...      ...    ...     ...
9538   8.64  38.56  1016.51  66.03  484.45
9539  10.53  37.50  1008.55  99.91  472.32
9540  23.53  50.05  1005.63  78.40  443.71
9541  24.90  67.25  1017.77  66.17  433.71
9542   5.01  39.40  1003.69  91.90  475.34
9543  22.66  69.84  1006.16  82.79  439.06
9544  29.76  57.19  1008.59  51.10  436.21
9545  26.30  61.41  1012.45  56.85  448.55
9546  30.17  74.22  1007.46  49.27  432.00
9547   8.02  40.23  1017.42  90.26  484.22
9548  19.12  50.16  1011.52  99.71  451.49
9549  14.87  42.18  1015.23  74.41  465.89
9550   9.71  42.44  1014.29  94.03  481.03
9551  24.33  77.54  1008.50  82.45  435.38
9552   7.17  39.40  1011.48  90.38  484.33
9553  24.61  62.96  1020.10  63.83  445.79
9554  23.48  66.44  1011.28  61.11  443.21
9555  23.70  70.32  1007.21  66.85  439.59
9556  25.44  69.59  1008.22  80.73  433.97
9557  17.46  62.10  1019.96  83.99  451.06
9558  22.97  62.40  1010.25  75.18  445.30
9559  26.22  49.82  1015.48  55.80  454.20
9560  23.27  68.28  1005.01  74.83  444.86
9561  11.76  41.58  1020.91  88.35  465.45
9562  14.02  40.10  1015.56  82.44  467.32
9563  16.65  49.69  1014.01  91.00  460.03
9564  13.19  39.18  1023.67  66.78  469.62
9565  31.32  74.33  1012.92  36.48  429.57
9566  24.48  69.45  1013.86  62.39  435.74
9567  21.60  62.52  1017.23  67.87  453.28

[9568 rows x 5 columns]

In [5]:
data.head()  #取前五行数据

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [6]:
data.shape  #查数据维度

(9568, 5)

In [7]:
X = data[['AT','V','AP','RH']]  #取X的样本特征
X.head()

      AT      V       AP     RH
0  14.96  41.76  1024.07  73.17
1  25.18  62.96  1020.04  59.08
2   5.11  39.40  1012.16  92.14
3  20.86  57.32  1010.24  76.64
4  10.82  37.50  1009.23  96.62

In [8]:
y = data[['PE']]   #样本输出
y.head()

       PE
0  463.26
1  444.37
2  488.56
3  446.48
4  473.90

In [10]:
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
#划分训练集和测试集

In [11]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)  #查看训练集与测试集的维度

(7176, 4)
(7176, 1)
(2392, 4)
(2392, 1)

In [18]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X_train, y_train)  #用scikit_learn线性模型回归拟合

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [19]:
print(linereg.intercept_)
print(linreg.coef_)

[460.05727267]
[[-1.96865472 -0.2392946   0.0568509  -0.15861467]]

In [23]:
y_pred = linreg.predict(X_test)
from sklearn import metrics
print("MSE:",metrics.mean_squared_error(y_test, y_pred))
print("RMSE:",np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

MSE: 20.83719154722035
RMSE: 4.564777272465805

In [24]:
X = data[['AT','V','AP']]
y = data[['PE']]
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(X_train, y_train)
y_pred = linreg.predict(X_test)
from sklearn import metrics
print("MSE:",metrics.mean_squared_error(y_test, y_pred))
print("RMSE:",np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

MSE: 23.905653799527798
RMSE: 4.889340834870054